@{
    ViewBag.Header = "LỊCH CÚP NƯỚC";
    ViewBag.Title = "Lịch ngưng cung cấp nước";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.status2 = "col-lg-9 col-md-12 mb-4";
}

<div class="container card">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pt-2">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">@ViewBag.Title</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content card-body">
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-info mb-2 text-dark">
                Thông
                báo ngưng cung cấp nước lúc 09h00 đến 11h30, ngày 10/08/2018 tại khu vực đường Phạm
                Hữu Lầu Quận 7
            </a>

            <a class="list-group-item list-group-item-action list-group-item-info mb-2 text-dark">
                Thông
                báo ngưng cung cấp nước lúc 09h00 đến 11h30, ngày 10/08/2018 tại khu vực đường Phạm
                Hữu Lầu Quận 7
            </a>

            <a class="list-group-item list-group-item-action list-group-item-info mb-2 text-dark">
                Thông
                báo ngưng cung cấp nước lúc 09h00 đến 11h30, ngày 10/08/2018 tại khu vực đường Phạm
                Hữu Lầu Quận 7
            </a>
        </div>
    </div>
</div>


@section Footer{
    <footer class="section footer-section bg-primary">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 mb-5">
                    <img src="~/Content/img/logo-footer.png" />
                    <p>
                        Cty cổ phần cấp nước Nhà Bè được thành lập trên cơ sở cổ phần hóa Chi nhánh cấp nước Nhà Bè trực
                        thuộc Tổng
                        Cty cấp nước Sài Gòn theo quyết định số 6659/QĐ-UBND ngày 30/12/2005 của Uy Ban Nhân Dân TPHCM.
                        Cty cổ phần
                        cấp nước Nhà Bè chính thức bắt đầu đi vào hoạt động kể từ ngày 01/02/2007
                    </p>
                </div>

                <div class="col-md-6 mb-5 pr-md-5 contact-info">
                    <p><span class="d-block">Địa Chỉ:</span> <span> 1179 Nguyễn Văn Linh, Tân Phong, Quận 7</span></p>
                    <p><span class="d-block">Số Điện Thoại:</span> <span> (028) 54122499</span></p>
                    <p><span class="d-block">Email:</span> <span> lienhe@capnuocnhabe.vn</span></p>
                </div>
            </div>
        </div>
    </footer>
}