@{
    ViewBag.Header = "CÁC CÂU HỎI THƯỜNG GẶP";
    ViewBag.Title = "CauHoi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.status2 = "col-lg-9 col-md-12 mb-4";
}

<section class="bg-light post p-4" id="next-section" ng-controller="TinTuc" ng-init="LayBaiVietTheoDanhMuc(@ViewBag.idDanhMuc)">
    <div class="container">
        <h2 class="text-center">@ViewBag.Header</h2>
        <form action="#" class="sidebar-search">
            <div class="form-group">
                <span class="fa fa-search icon-search"></span>
                <input type="text" class="form-control search-input" placeholder="Tìm bài viết...">
            </div>
        </form>
        <div class="row">
            <div class="col-md-6" ng-repeat="item in dsBaiVietTheoDanhMuc">
                <div class="media media-custom d-block mb-4">
                    <a href="@Url.Action("ChiTietBaiViet","News")?idBaiViet={{item.ID_BaiViet}}" class="mb-4 d-block">
                        <img src="{{item.HinhDaiDien1}}" alt="Image placeholder"
                             class="img-fluid" width="100%">
                    </a>
                    <div class="media-body">
                        <span class="meta-post">{{item.NgayDang}}</span>
                        <h2 class="mt-0 mb-3"><a href="@Url.Action("ChiTietBaiViet","News")?idBaiViet={{item.ID_BaiViet}}">{{item.MoTa}}</a></h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <nav role="navigation">
                    <ul class="pagination custom-pagination pagination-lg">
                        <li class="page-item active" ng-repeat="item in hienThiDanhSachTrang()">
                            <a class="page-link" ng-click="phanTrang(item+1)">{{item + 1}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END content -->
    </div>
</section>

@section Footer{
    <footer class="section footer-section bg-primary">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 mb-5">
                    <img src="~/Content/img/logo-footer.png" />
                    <p>
                        Cty cổ phần cấp nước Nhà Bè được thành lập trên cơ sở cổ phần hóa Chi nhánh cấp nước Nhà Bè trực
                        thuộc Tổng
                        Cty cấp nước Sài Gòn theo quyết định số 6659/QĐ-UBND ngày 30/12/2005 của Uy Ban Nhân Dân TPHCM.
                        Cty cổ phần
                        cấp nước Nhà Bè chính thức bắt đầu đi vào hoạt động kể từ ngày 01/02/2007
                    </p>
                </div>


                <div class="col-md-6 mb-5 pr-md-5 contact-info">
                    <p><span class="d-block">Địa Chỉ:</span> <span> 1179 Nguyễn Văn Linh, Tân Phong, Quận 7</span></p>
                    <p><span class="d-block">Số Điện Thoại:</span> <span> (028) 54122499</span></p>
                    <p><span class="d-block">Email:</span> <span> lienhe@capnuocnhabe.vn</span></p>
                </div>
            </div>
        </div>
    </footer>
}

<script src="~/ControllerJS/News/News.js"></script>
