@{
    ViewBag.Header = "CÁC CÂU HỎI THƯỜNG GẶP";
    ViewBag.Title = "CauHoi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.status2 = "col-lg-9 col-md-12 mb-4";
}

<!-- Nav pills -->
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Câu Hỏi 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1">Câu Hỏi 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Câu Hỏi 3</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mt-2">
    <div class="tab-pane container active" id="home">
        <div class="card text-center p-2">
            <h2 class="text-danger">Rửa đồ đúng cách, thay đổi thói quen khi tắm, tái sử dụng nước... giúp tiết kiệm nước trong gia đình.</h2>
                <p class="card-text">
                    1. Kiểm tra đường ống

                    Đường ống nước dùng lâu ngày rất dễ bị nứt hoặc hở. Để kiểm tra, bạn đọc số nước trên đồng hồ, nếu sau khoảng hai giờ không sử dụng, công tơ không cho cùng một số, hệ thống cấp nước đã bị rò rỉ. Bạn nên kiểm tra như vậy thường xuyên, vì một chiếc vòi nước nhỏ giọt liên tục có thể gây lãng phí đến 20.000 lít nước mỗi năm.

                    2. Rửa đồ đúng cách

                    Hầu hết mọi người đều có thói quen rửa đồ trực tiếp dưới vòi nước, gây lãng phí mà không hay biết. Bạn nên xả vừa đủ nước vào bồn, chậu để thực hiện công việc của mình. Làm theo cách này, bạn sẽ tiết kiệm 50 - 250 lít nước mỗi ngày.
                </p>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu1">
        <div class="card text-center p-2">
            <h2 class="text-danger">Việt Nam là một trong 8 nước trên thế giới có nguồn nước tự nhiên dồi dào nhất. Thống kê của Bộ Y tế và Bộ Tài nguyên môi trường cho biết có khoảng 17 triệu người không được tiếp cận nguồn nước sinh hoạt an toàn đã qua xử lý. Nước và năng lượng là hai nguồn tài nguyên rất quan trọng nhưng năng lượng có thể chuyển hoá thành những dạng khác còn nước thì </h2>
            <p class="card-text">
                1. Kiểm tra đường ống

                Đường ống nước dùng lâu ngày rất dễ bị nứt hoặc hở. Để kiểm tra, bạn đọc số nước trên đồng hồ, nếu sau khoảng hai giờ không sử dụng, công tơ không cho cùng một số, hệ thống cấp nước đã bị rò rỉ. Bạn nên kiểm tra như vậy thường xuyên, vì một chiếc vòi nước nhỏ giọt liên tục có thể gây lãng phí đến 20.000 lít nước mỗi năm.

                2. Rửa đồ đúng cách

                Hầu hết mọi người đều có thói quen rửa đồ trực tiếp dưới vòi nước, gây lãng phí mà không hay biết. Bạn nên xả vừa đủ nước vào bồn, chậu để thực hiện công việc của mình. Làm theo cách này, bạn sẽ tiết kiệm 50 - 250 lít nước mỗi ngày.
            </p>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu2">
        <div class="card text-center p-2">
            <h2 class="text-danger">Cách phát hiện rò rỉ nước Đóng tất cả các vòi nước và các thiết bị sử dụng nước trong nhà; sau đó xem đồng hồ nước. Nếu đồng hồ không chạy thì hệ thống không bị rò rỉ. Nếu đồng hồ chạy thì hệ thống nước của gia đình bạn đang bị rò rỉ.</h2>
            <p class="card-text">
                1. Kiểm tra đường ống

                Đường ống nước dùng lâu ngày rất dễ bị nứt hoặc hở. Để kiểm tra, bạn đọc số nước trên đồng hồ, nếu sau khoảng hai giờ không sử dụng, công tơ không cho cùng một số, hệ thống cấp nước đã bị rò rỉ. Bạn nên kiểm tra như vậy thường xuyên, vì một chiếc vòi nước nhỏ giọt liên tục có thể gây lãng phí đến 20.000 lít nước mỗi năm.

                2. Rửa đồ đúng cách

                Hầu hết mọi người đều có thói quen rửa đồ trực tiếp dưới vòi nước, gây lãng phí mà không hay biết. Bạn nên xả vừa đủ nước vào bồn, chậu để thực hiện công việc của mình. Làm theo cách này, bạn sẽ tiết kiệm 50 - 250 lít nước mỗi ngày.
            </p>
        </div>
    </div>
</div>

@section Footer{
    <footer class="section footer-section bg-primary">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 mb-5">
                    <img src="~/Content/img/logo-footer.png" />
                    <p>
                        Cty cổ phần cấp nước Nhà Bè được thành lập trên cơ sở cổ phần hóa Chi nhánh cấp nước Nhà Bè trực
                        thuộc Tổng
                        Cty cấp nước Sài Gòn theo quyết định số 6659/QĐ-UBND ngày 30/12/2005 của Uy Ban Nhân Dân TPHCM.
                        Cty cổ phần
                        cấp nước Nhà Bè chính thức bắt đầu đi vào hoạt động kể từ ngày 01/02/2007
                    </p>
                </div>


                <div class="col-md-6 mb-5 pr-md-5 contact-info">
                    <p><span class="d-block">Địa Chỉ:</span> <span> 1179 Nguyễn Văn Linh, Tân Phong, Quận 7</span></p>
                    <p><span class="d-block">Số Điện Thoại:</span> <span> (028) 54122499</span></p>
                    <p><span class="d-block">Email:</span> <span> lienhe@capnuocnhabe.vn</span></p>
                </div>
            </div>
        </div>
    </footer>
}
