@{
    ViewBag.Header = "TRA CỨU TIẾN ĐỘ NÂNG DỜI ĐỔI CỠ";
    ViewBag.Title = "Tra Cứu Tiến Độ Nâng Dời Đổi Cỡ ĐHN";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.status2 = "col-md-9 mb-4 mb-md-0";
}

<div class="container card" ng-controller="TraCuuTienDo">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pt-2">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">
                @ViewBag.Title
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content card-body">
        <div class="tab-pane container active" id="home">
            <div class="input-group mb-3">
                <input type="text" class="form-control" ng-change="reset()" ng-model="soHoSo" placeholder="Nhập Số Hồ Sơ...">
                <div class="input-group-append">
                    <button class="btn btn-success" ng-click="timSoHS('nd')">Tìm Kiếm</button>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" ng-bind="message" ng-show="trangThaiThongBao"></div>
        </div>

        <div class="container" ng-show="trangThaiForm">
                    <div class="card-body" style="border:2px solid #A69C8F">
                        <h4 class="card-title text-center">Thông Tin Khách Hàng</h4>
                        <p class="card-text">Số hồ sơ : <span class="text-danger" ng-bind="thongTinKhachHang.SOHS"></span></p>
                        <p class="card-text">Họ tên : <span class="text-danger" ng-bind="thongTinKhachHang.TENKH"></span></p>
                        <p class="card-text">Địa chỉ : <span class="text-danger" ng-bind="thongTinKhachHang.DIACHI"></span></p>
                        <p class="card-text">Số điện thoại : <span class="text-danger" ng-bind="thongTinKhachHang.SODT"></span></p>
                        <p class="card-text">Ngày nhận hồ sơ : <span class="text-danger" ng-bind="thongTinKhachHang.NGAYYEUCAU"></span></p>
                    </div>


                        <span class="text-danger" style="font-size: 30px">
                            <u>
                                <i>
                                    Lưu
                                    ý
                                </i>
                            </u>
                        </span>: Hồ sơ khách hàng đang ở giai đoạn nào thì
                        bước sẽ hiện màu đỏ

                    <div class="row mb-3 text-center">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <button class="btn btn-info" ng-click="gd1()">1</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <button class="btn btn-danger" ng-click="gd2()">2</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <button class="btn btn-info" ng-click="gd3()">3</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <button class="btn btn-info" ng-click="gd4()">4</button>
                        </div>
                    </div>


                        <div class="card-body" style="border:2px solid #A69C8F" ng-show="trangThaiTienDo === 1">
                            <h4 class="card-title text-center">Giai đoạn 1 : Tiếp nhận hồ sơ thông tin gắn mới</h4>
                            <p class="card-text">Số Hồ Sơ : <span class="text-danger" ng-bind="thongTinKhachHang.SOHS"></span></p>
                            <p class="card-text">Họ tên : <span class="text-danger" ng-bind="thongTinKhachHang.TENKH"></span></p>
                            <p class="card-text">Địa chỉ : <span class="text-danger" ng-bind="thongTinKhachHang.DIACHI"></span></p>
                            <p class="card-text">Số Điện Thoại : <span class="text-danger" ng-bind="thongTinKhachHang.SODT"></span></p>
                            <p class="card-text">Ngày Nhận : <span class="text-danger" ng-bind="thongTinKhachHang.NGAYYEUCAU"></span></p>
                            <p class="card-text">Giấy Tờ Đi Kèm : <span class="text-danger">ABC</span></p>
                        </div>

                        <div class="card-body" style="border:2px solid #A69C8F" ng-show="trangThaiTienDo === 2">
                            <h4 class="card-title text-center">Giai đoạn 2 : Chuyển Khảo sát thiết kế - Xin phép đào đường</h4>
                            <p class="card-text">Số Hồ Sơ : <span class="text-danger" ng-bind="thongTinKhachHang.SOHS"></span></p>
                            <p class="card-text">Lần chuyển khảo sát thiết kế : <span class="text-danger" ng-bind="thongTinKhachHang.TENKH"></span></p>
                            <p class="card-text">Ngày dự kiến khảo sát : <span class="text-danger" ng-bind="thongTinKhachHang.NGAYYEUCAU"></span></p>
                            <p class="card-text">Lý do chuyển khảo sát thiết kế : <span class="text-danger" ng-bind="thongTinKhachHang.DINHMUC"></span></p>
                            <p class="card-text">Lý do bị trở ngại : <span class="text-danger" ng-bind="thongTinKhachHang.GIABIEU"></span></p>
                        </div>

                        <div class="card-body" style="border:2px solid #A69C8F" ng-show="trangThaiTienDo === 3">
                            <h4 class="card-title text-center">Giai đoạn 3 : Lên đợt thi công - Lắp đặt ĐHN</h4>
                            <p class="card-text">Họ tên : <span class="text-danger" ng-bind="thongTinKhachHang.TENKH"></span></p>
                            <p class="card-text">Địa chỉ : <span class="text-danger" ng-bind="thongTinKhachHang.DIACHI"></span></p>
                            <p class="card-text">Số Điện Thoại : <span class="text-danger" ng-bind="thongTinKhachHang.SODT"></span></p>
                            <p class="card-text">Ngày Đóng Tiền : <span class="text-danger" ng-bind="thongTinKhachHang.NGAYYEUCAU"></span></p>
                            <p class="card-text">Số phiếu thu : <span class="text-danger" ng-bind="thongTinKhachHang.MADB"></span></p>
                            <p class="card-text">Tổng chi phí : <span class="text-danger" ng-bind="thongTinKhachHang.GIABIEU"></span></p>
                            <p class="card-text">Cở ĐHN : <span class="text-danger" ng-bind="thongTinKhachHang.MADB"></span></p>
                        </div>

                        <div class="card-body" style="border:2px solid #A69C8F" ng-show="trangThaiTienDo === 4">
                            <h4 class="card-title text-center">Giai đoạn 4 : Hoàn công hồ sơ</h4>
                            <p class="card-text">Số Hồ Sơ : <span class="text-danger" ng-bind="thongTinKhachHang.SOHS"></span></p>
                            <p class="card-text">Họ tên : <span class="text-danger" ng-bind="thongTinKhachHang.TENKH"></span></p>
                            <p class="card-text">Địa chỉ : <span class="text-danger" ng-bind="thongTinKhachHang.DIACHI"></span></p>
                            <p class="card-text">Số Điện Thoại : <span class="text-danger" ng-bind="thongTinKhachHang.SODT"></span></p>
                            <p class="card-text">Ngày gắn ĐHN : <span class="text-danger" ng-bind="thongTinKhachHang.GIABIEU"></span></p>
                            <p class="card-text">Chỉ số gắn ĐHN : <span class="text-danger" ng-bind="thongTinKhachHang.MADB"></span></p>
                            <p class="card-text">Ngày hoàn công hồ sơ : <span class="text-danger" ng-bind="thongTinKhachHang.MADB"></span></p>
                        </div>
        </div>
    </div>
</div>

@section Footer{
    <footer class="section footer-section bg-primary">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 mb-5">
                    <img src="~/Content/img/logo-footer.png" />
                    <p>
                        Cty cổ phần cấp nước Nhà Bè được thành lập trên cơ sở cổ phần hóa Chi nhánh cấp nước Nhà Bè trực
                        thuộc Tổng
                        Cty cấp nước Sài Gòn theo quyết định số 6659/QĐ-UBND ngày 30/12/2005 của Uy Ban Nhân Dân TPHCM.
                        Cty cổ phần
                        cấp nước Nhà Bè chính thức bắt đầu đi vào hoạt động kể từ ngày 01/02/2007
                    </p>
                </div>

                <div class="col-md-6 mb-5 pr-md-5 contact-info">
                    <p><span class="d-block">Địa Chỉ:</span> <span> 1179 Nguyễn Văn Linh, Tân Phong, Quận 7</span></p>
                    <p><span class="d-block">Số Điện Thoại:</span> <span> (028) 54122499</span></p>
                    <p><span class="d-block">Email:</span> <span> lienhe@capnuocnhabe.vn</span></p>
                </div>
            </div>
        </div>
    </footer>
}

<script src="~/ControllerJS/TraCuu/TraCuu.js"></script>